.waiting_inner {
    /*!*bordes*!*/
    /*border-radius: 5px 5px 5px 5px;*/
    /*-moz-border-radius: 5px 5px 5px 5px;*/
    /*-webkit-border-radius: 5px 5px 5px 5px;*/
    /*!*sombras*!*/
    /*-webkit-box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.45);*/
    /*-moz-box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.45);*/
    /*box-shadow: 0px 0px 40px 14px rgba(0,0,0,0.45);*/

    background-color: rgba(255,255,255,0);
    color: white;
    /*font-weight: bold;*/
    /*display: none;*/
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    width:100%;
    height:70px;
    top:50%;
    left:0%;
    text-align:center;
    line-height:70px;
    position:   fixed;
    z-index:    999999999;


}

.waiting_inner img {

    height:20px;
    vertical-align:middle;
}
#waiting_ajax {
    display:    none;
    position:   fixed;
    z-index:    999999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 )


}

.loading {
    overflow: hidden;
}

.loading #waiting_ajax {
    display: block;
}

/* Progress Bar */
.progress {
    position: relative;
    height: 8px !important;
    display: block;
    width: 100%;
    background-color: #3c8dbc;
    background-clip: padding-box;
    border-radius: 0px !important;
    overflow: hidden;
}

.progress .indeterminate {
    background-color: #3c8dbc;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: #3c8dbc;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}


@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; }
}



@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; }
}